#root {
  height: 100vh;
  margin: 0 auto;
  width: 100vw;
  text-align: center;
}

.home {
  min-height: 70vh;
}

.list-group-item.active {
  background-color: #605ab8; 
  border-color: #6f42c1;
  color: rgb(251, 229, 238);
}

/* Contact Form */
.button-tooltip {
  position: fixed;
}

.contact-details-item {
  text-wrap: nowrap;
}

.urbanist-extra-light {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}